<h1><%= @beam_type.name %></h1>
<img src="<%= image_url_for(@beam_type.image_key) %>" alt="<%= @beam_type.name %>">
<p>Материал: <%= @beam_type.material %></p>
<p>Модуль E: <%= @beam_type.elasticity_gpa %> ГПа · Норма: <%= @beam_type.norm %></p>

<%= button_to "Добавить в корзину",
      add_to_deflection_request_path(beam_type_id: @beam_type.id, quantity: 1),
      method: :post %>

<%= link_to "Назад", beam_types_path %>
